body {
  margin: 0%;
  padding: 0%;
  background-color: whitesmoke;
  font-family: "Quicksand", sans-serif;
  color: black;
}

.flex-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: lightgray;
}

.flex-section aside {
  max-width: 70%;
}

.flex-section img {
  border: whitesmoke solid;
}
.flex-section1 img {
  border: whitesmoke solid;
}
.flex-bars {
  display: flex;
  background-color: black;
  padding: 1%;
  color: whitesmoke;
  justify-content: space-between;
  border: whitesmoke solid;
}
.flex-bars a {
  color: whitesmoke;
  text-decoration: none;
}

.flex-bars a:hover {
  color: lightslategrey;
}
.flex-bars aside {
  max-width: 10%;
}

.flex-section1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(161, 161, 161);
}
.flex-section1 aside {
  max-width: 70%;
}
